* {
  box-sizing: border-box;
}

body {
  font-size: 0;
  background-color: azure;
}

footer {
  font-size: medium;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
  color: white;
}

#app-container {
  font-size: medium;
  font-family: monospace;
  height: 90vh;
}

.boxx {
  display: inline-block;
  padding: 10px;
  height: 80%;
  vertical-align: top;
}

.crate {
  display: block;
  height: 15%;
  padding: 10px;
  margin-bottom:10px;
}

._zone{
  border: 1px solid black;
}

.splash {
  background-image: url('../images/GA_beach.jpg');
  background-size: cover;
}

.direct {
  background-color: firebrick;
  width: 15%;
  height: 105px;
}

.directions {
  list-style: none;
}

.meat {
  background-color: firebrick;
  width: 80%;
}

.pane {
  display: inline-block;
  vertical-align: top;
  height: 525px;
}

.who {
  width: 61%;
  padding: 5%;
  line-height: 2;
  font-size: 16px;
  background-color: linen;
}

.me {
  max-height: 525px;
  max-width: 395px;
}
